layout {
    default_tab_template {
      children
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
      }
    }
    tab name="strider" {
      pane split_direction="Vertical" {
          pane size="15%" {
              plugin location="zellij:strider"
          }
      }
    }
}
